dl {
    background: none repeat scroll 0 0 #FAFAFA;
    margin: 8px 0;
    padding: 0;
}

dt {
    display: inline-block;
    width: 170px;
}

dd {
    display: inline-block;
    margin-left: 8px;
    vertical-align: top;
}

tr[data-mealExcess="false"] {
    color: green;
}

tr[data-mealExcess="true"] {
    color: red;
}

.fa {
    cursor: pointer;
}

/*https://getbootstrap.com/docs/4.0/examples/sticky-footer/sticky-footer.css*/
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-color: rgb(44, 47, 49);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

.filter-title {
    text-align: center;
    margin: 3px auto;
}

.filter-box {
    padding: 1.2em;
    border-radius: 9px;
    border: slategrey solid 1px;
}

.filter-footer {
    text-align: right;
    margin-right: 5px;
}

form {
    margin: auto;
}

form > dl {
    display: inline-block;
}

form > dl > dt {
    display: inline-block;
    margin-bottom: 0.5rem;
}

form > dl > dt > dd {
    display: block;
}

.addMeal {
    text-align: center;
}

table, thead, tbody{
    border: none;
}